In [59]:
import pandas as pd
import numpy as np

raw = pd.read_csv('dataset.csv')

raw

,id,kode_provinsi,nama_provinsi,kode_kabupaten_kota,nama_kabupaten_kota,jumlah_produksi_sampah,satuan,tahun
0,1,32,JAWA BARAT,3201,KABUPATEN BOGOR,1511.15,TON PER HARI,2015
1,2,32,JAWA BARAT,3202,KABUPATEN SUKABUMI,419.01,TON PER HARI,2015
2,3,32,JAWA BARAT,3203,KABUPATEN CIANJUR,981.41,TON PER HARI,2015
3,4,32,JAWA BARAT,3204,KABUPATEN BANDUNG,1895.94,TON PER HARI,2015
4,5,32,JAWA BARAT,3205,KABUPATEN GARUT,464.74,TON PER HARI,2015
...,...,...,...,...,...,...,...,...
238,239,32,JAWA BARAT,3275,KOTA BEKASI,NaN,TON PER HARI,2023
239,240,32,JAWA BARAT,3276,KOTA DEPOK,NaN,TON PER HARI,2023
240,241,32,JAWA BARAT,3277,KOTA CIMAHI,NaN,TON PER HARI,2023
241,242,32,JAWA BARAT,3278,KOTA TASIKMALAYA,NaN,TON PER HARI,2023
242,243,32,JAWA BARAT,3279,KOTA BANJAR,NaN,TON PER HARI,2023

In [70]:
df = raw.iloc[:,4:8]
df

    nama_kabupaten_kota  jumlah_produksi_sampah        satuan  tahun
0       KABUPATEN BOGOR                 1511.15  TON PER HARI   2015
1    KABUPATEN SUKABUMI                  419.01  TON PER HARI   2015
2     KABUPATEN CIANJUR                  981.41  TON PER HARI   2015
3     KABUPATEN BANDUNG                 1895.94  TON PER HARI   2015
4       KABUPATEN GARUT                  464.74  TON PER HARI   2015
..                  ...                     ...           ...    ...
238         KOTA BEKASI                     NaN  TON PER HARI   2023
239          KOTA DEPOK                     NaN  TON PER HARI   2023
240         KOTA CIMAHI                     NaN  TON PER HARI   2023
241    KOTA TASIKMALAYA                     NaN  TON PER HARI   2023
242         KOTA BANJAR                     NaN  TON PER HARI   2023

[243 rows x 4 columns]

In [61]:
jumlah_per_tahun = {
    'tahun' : [2015, 2016, 2017, 2018, 2019, 2020, 2021, 2022, 2023],
    'total_produksi' : [0] * 9,
    'satuan' : ['TON PER HARI'] * 9
}

for idx in range(len(jumlah_per_tahun['tahun'])) :
    for i, row in df.iterrows() :
        if row['tahun'] == jumlah_per_tahun['tahun'][idx] :
            jumlah_per_tahun['total_produksi'][idx] += row['jumlah_produksi_sampah']
            
df2 = pd.DataFrame(jumlah_per_tahun)
df2

   tahun  total_produksi        satuan
0   2015        20969.27  TON PER HARI
1   2016        20969.27  TON PER HARI
2   2017        20969.27  TON PER HARI
3   2018        22772.92  TON PER HARI
4   2019        24490.56  TON PER HARI
5   2020        25333.00  TON PER HARI
6   2021        15735.36  TON PER HARI
7   2022             NaN  TON PER HARI
8   2023             NaN  TON PER HARI

In [62]:
df
df_cleaned = df.dropna()
df_cleaned

    nama_kabupaten_kota  jumlah_produksi_sampah        satuan  tahun
0       KABUPATEN BOGOR                 1511.15  TON PER HARI   2015
1    KABUPATEN SUKABUMI                  419.01  TON PER HARI   2015
2     KABUPATEN CIANJUR                  981.41  TON PER HARI   2015
3     KABUPATEN BANDUNG                 1895.94  TON PER HARI   2015
4       KABUPATEN GARUT                  464.74  TON PER HARI   2015
..                  ...                     ...           ...    ...
184         KOTA BEKASI                 1500.77  TON PER HARI   2021
185          KOTA DEPOK                 1418.87  TON PER HARI   2021
186         KOTA CIMAHI                  193.36  TON PER HARI   2021
187    KOTA TASIKMALAYA                  295.87  TON PER HARI   2021
188         KOTA BANJAR                   60.29  TON PER HARI   2021

[189 rows x 4 columns]

In [67]:
jumlah_per_kota = {
    'nama_kab_kota' : [],
    'total_produksi' : [0],
    'satuan' : ['TON PER HARI']
}

for i, row in df_cleaned.iterrows() :
    if row['nama_kabupaten_kota'] not in jumlah_per_kota['nama_kab_kota'] :
        jumlah_per_kota['nama_kab_kota'].append(row['nama_kabupaten_kota'])
        
panjang = len(jumlah_per_kota['nama_kab_kota'])

jumlah_per_kota['total_produksi'] *= panjang
jumlah_per_kota['satuan'] *= panjang

for idx in range(panjang) :
    for i, row in df_cleaned.iterrows() :
        if row['nama_kabupaten_kota'] == jumlah_per_kota['nama_kab_kota'][idx] :
            jumlah_per_kota['total_produksi'][idx] += row['jumlah_produksi_sampah']

df3 = pd.DataFrame(jumlah_per_kota)
df3

              nama_kab_kota  total_produksi        satuan
0           KABUPATEN BOGOR        13113.49  TON PER HARI
1        KABUPATEN SUKABUMI         4038.19  TON PER HARI
2         KABUPATEN CIANJUR         6497.92  TON PER HARI
3         KABUPATEN BANDUNG        11934.04  TON PER HARI
4           KABUPATEN GARUT         4484.29  TON PER HARI
5     KABUPATEN TASIKMALAYA         3531.33  TON PER HARI
6          KABUPATEN CIAMIS         2329.72  TON PER HARI
7        KABUPATEN KUNINGAN         2486.63  TON PER HARI
8         KABUPATEN CIREBON         3205.17  TON PER HARI
9      KABUPATEN MAJALENGKA         2593.39  TON PER HARI
10       KABUPATEN SUMEDANG         2532.71  TON PER HARI
11      KABUPATEN INDRAMAYU         5383.18  TON PER HARI
12         KABUPATEN SUBANG         4735.53  TON PER HARI
13     KABUPATEN PURWAKARTA         2262.90  TON PER HARI
14       KABUPATEN KARAWANG         5997.44  TON PER HARI
15         KABUPATEN BEKASI        11328.27  TON PER HARI
16  KABUPATEN BANDUNG BARAT         4972.37  TON PER HARI
17    KABUPATEN PANGANDARAN         1277.55  TON PER HARI
18               KOTA BOGOR         5952.47  TON PER HARI
19            KOTA SUKABUMI         1833.73  TON PER HARI
20             KOTA BANDUNG        14521.78  TON PER HARI
21             KOTA CIREBON         1887.57  TON PER HARI
22              KOTA BEKASI        15504.31  TON PER HARI
23               KOTA DEPOK        12209.61  TON PER HARI
24              KOTA CIMAHI         3112.35  TON PER HARI
25         KOTA TASIKMALAYA         2754.78  TON PER HARI
26              KOTA BANJAR          758.93  TON PER HARI

In [69]:
df2.to_csv('jumlah_per_tahun.csv')
df3.to_csv('jumlah_per_kota.csv')